.cable {
   &__container {
   }

   &__title {
   }

   &__text {
      line-height: 125.4%;
      @media (min-width: $mobile) {
         text-transform: uppercase;
      }
      &:not(:last-child) {
         margin-bottom: em(40, 18);
      }
      &_first {
         &:not(:last-child) {
            margin-bottom: em(20, 18);
         }
      }
   }

   &__label {
      display: inline-block;
      font-weight: 700;
      line-height: 125.4%;
      color: #ffffff;
      background-color: $mainColor;
      padding: rem(4) rem(20);
      @media (min-width: $mobile) {
         text-transform: uppercase;
      }
      &:not(:last-child) {
         margin-bottom: em(25, 18);
      }
      &_list {
         &:not(:last-child) {
            margin-bottom: em(30, 18);
         }
      }
   }

   &__list {
      &:not(:last-child) {
         margin-bottom: em(40, 18);
      }
   }

   &__item {
      display: flex;
      line-height: 125.4%;
      @media (min-width: $mobile) {
         text-transform: uppercase;
      }
      &:not(:last-child) {
         @include adaptiveValue('margin-bottom', 45, 15);
      }
      &::before {
         content: '';
         width: rem(15);
         height: rem(15);
         flex: 0 0 rem(15);
         background: rgba(45, 126, 151, 0.73);
         display: inline-block;
         border-radius: 50%;
         align-self: center;
         @include adaptiveValue('margin-right', 35, 15);
      }
   }

   &__content {
      @include adaptiveValue('margin-bottom', 60, 30);
   }
}
